.form {
  font-size: 1.2em;

  .input {
    display: flex;
    flex-basis: 80%;
    width: 80%;

    @media @tablet-down {
      flex-basis: 100%;
      width: 100%;
    }
  }

  .submit {
    display: flex;
    flex-basis: 15%;
    width: 15%;
    @media @tablet-down {
      flex-basis: 100%;
      width: 100%;
      margin-top: 15px;
      button {
        width: 100%;
      }
    }
  }

  label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  :global {
    .ant-select {
      width: 100%;
    }
  }
}

.faq {
  margin-top: 80px;
}

.smallForm {
  display: flex;
  width: 100%;
  .form {
    width: 100%;
    .input {
      margin: 0;
      padding-right: 15px;
    }

    .submit {
      button {
        background: #fff;
        color: @color-green;
        width: 100%;
      }
    }
  }
}
