.socialShare {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 0.8em;
    margin-right: 15px;
  }

  button {
    display: flex;
    margin-right: 10px;
  }
}
