.stateForm {
  padding-right: 30px;
  margin-bottom: 20px;
  max-width: 300px;

  @media @tablet-down {
    max-width: 100%;
  }
}

.disclaimer {
  margin: 3em auto;
  color: #fff;
  padding: 2em;
  background-color: @color-green;
  font-size: 0.8em;

  h2 {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
    color: #fff;
  }
}
