.mainMenu {
  ul {
    border-bottom: none;
  }

  :global {
    .ant-menu-item {
      transition: none;
      padding: 0 18px;
      a {
        font-size: 1.2em;
        padding: 10px 0;
        text-transform: uppercase;
      }
    }

    .ant-menu-horizontal {
      & > {
        .ant-menu-item-selected {
          border-bottom: none;
          color: inherit;
        }

        .ant-menu-item:hover {
          color: @color-red;
          border-top: 2px solid @color-red;
          border-bottom: none;
          a:hover {
            color: @color-red;
          }
        }
      }
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: transparent;
    }

    .ant-menu-item-selected {
      color: inherit;
      &:hover {
        color: @color-red;
      }
    }

    .ant-menu-vertical {
      margin: 20px 0 0 10px;

      .ant-menu-item {
        margin-bottom: 20px;
      }

      a {
        color: @color-green;
        &:hover {
          color: @color-red;
          font-weight: 700;
        }
      }
    }
  }
}
