.tags {
  padding: 10px 20px 0 20px;
}

.sortInput {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin-bottom: 25px;

  label {
    display: none;
  }

  & > div {
    width: 200px;

    @media @tablet-down {
      width: 100%;
    }
  }
}

.header {
  display: flex;
  position: relative;
  .cardAvatar {
    position: absolute;
    width: 35px;
    top: 3px;
    left: 3px;
    font-family: 'Merriweather', sans-serif;
  }

  h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    padding: 3px 10px 3px 50px;
    margin: 0;
    color: @color-grey-2;
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.listItem {
  border: thin solid #f1f1f1;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listRow {
  @media @tablet-down {
    justify-content: center;
  }
}

.radarWrapper {
  width: 100%;
  :global(.chartjs-size-monitor) {
    width: 100%;
  }
  margin-top: -5px;
  padding: 0 10px 10px 10px;
}

.isInfo {
  display: flex;
  padding: 0 15px;
  color: #807f7f;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13.33px;
  span {
    font-weight: 700;
  }
}

.pagination ul {
  display: flex;
  justify-content: center;
}
