.imageWrapper {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;

  & > picture {
    height: 100%;
    width: 100%;
  }

  @media @tablet-down {
    height: 270px;
  }

  @media @phone-down {
    height: 225px;
  }

  img {
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.tags {
  padding: 10px 20px 0 20px;
}

.listItem,
:global(.bui .bui-content) .listItem {
  box-shadow: 4px 4px 7px 0px rgba(226, 226, 226, 0.58);
  border: thin solid #f1f1f1;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;

  h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 20px 18px 20px;
    margin: 0;
    color: @color-grey-2;
  }

  &.smallList {
    h3 {
      font-size: 0.9em;
    }

    .imageWrapper {
      height: 150px;
    }
  }
}

.listRow {
  @media @tablet-down {
    justify-content: center;
  }
}
