.authorProfile {
  display: flex;

  .profileImage {
    min-width: 64px;
    background: #eee no-repeat url('/static/favicon/favicon-32.png')
      center;
  }

  .profileContent {
    font-size: 1.1em;
    padding-left: 20px;
    h4 {
      font-weight: 700;
      margin: 0;
    }
  }
}
