.mapContainer {
  width: 100%;
  height: 700px;
  background-color: @color-green;
}

.filterContainer {
}

.listContainer {
  padding-left: 20px;
  @media @tablet-down {
    padding: 0;
  }

  h1 {
    font-size: 2em;
    font-weight: 700;
    color: @color-green;
  }

  h2 {
    font-size: 1.5em;
    color: @color-green;
    border-bottom: 2px solid @color-green;
    margin: 20px 0 40px 0;
  }
}

.listItem {
  font-size: 1.1em;
  border-radius: 2px;
  border: 1px solid #e2e1e1;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 233px;

  :global {
    .ant-card-head-title {
      color: @color-green;
      font-weight: 700;
      font-size: 1.2em;
      padding: 10px;

      & > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      span {
        margin-left: auto;
        font-size: 0.8em;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 5px;
        @media @phone-down {
          width: 100%;
          margin: 0;
        }
      }
    }
    .ant-card-body {
      padding: 15px 25px;
    }
  }

  .itemContent {
    display: flex;
    margin-bottom: 10px;
  }

  .details {
    padding-left: 10px;
    width: 100%;
  }

  .contact {
    padding: 10px 0 0 10px;
    min-height: 95px;
    overflow: hidden;
  }

  .name {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2em;
    color: @color-green;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 5px;
    height: 50px;
    align-items: center;
    overflow: hidden;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 88px;
    width: 88px;
    min-height: 88px;
    min-width: 88px;

    &.profile {
      border-radius: 50%;
    }

    img {
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }

    :global(.ant-avatar) {
      background: #ccc;
      font-weight: 700;
    }
  }
}

.filters {
  label {
    display: flex;
    align-items: center;
    font-size: 1.3em;
  }
}

.links {
  margin-bottom: 0;
  flex-direction: row-reverse;
}

.entry {
  display: flex;
  margin-left: auto;
  margin-bottom: 12px;
  line-height: 1.3em;
  svg {
    color: @color-green;
    margin: 2px 5px 0 0;
  }
  a svg {
    color: #fff;
    margin: 0 0 -2px 0;
  }
}

.features {
  text-align: right;
  span {
    padding: 3px 8px;
    background-color: #87d068;
    color: #fff;
    font-size: 0.9em;
    border-radius: 3px;
    text-transform: capitalize;
  }
}
