:global(.bui) {
  .form {
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;

    & > .input {
      display: flex;
      flex-basis: 80%;
      width: 80%;
      margin: 0;
      padding-right: 15px;

      @media @tablet-down {
        flex-basis: 100%;
        width: 100%;
        padding-right: 0;
        :global {
          .ant-select-selector {
            width: 100%;
          }
        }
      }
    }

    & > .submit {
      display: flex;
      flex-basis: 15%;
      width: 15%;
      margin: 0;
      @media @tablet-down {
        flex-basis: 100%;
        width: 100%;
        margin-top: 15px;
        button {
          width: 100%;
        }
      }
    }

    label {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    :global {
      .ant-select {
        width: 100%;
      }
    }
  }

  .smallForm {
    display: flex;
    width: 100%;
    .form {
      width: 100%;

      & > .submit {
        button {
          background: #fff;
          color: @color-green;
          width: 100%;
        }
      }
    }
  }

  .submitOnSelect {
    flex-grow: 1;
    form {
      margin: 0;
      .input {
        width: 100%;
        flex-basis: 100%;
      }
    }
  }
}
