.header {
  background-color: #fff;
}

.headerLogo {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  color: @color-green;
  letter-spacing: -0.03em;
  min-width: 100px;
  align-items: center;
  display: inline-flex;

  svg {
    margin-left: 3px;
    transform: rotate(90deg);
  }

  &:hover {
    color: @color-green;
  }
}

.contact {
  font-size: 1.1em;
  color: @color-black;
}

.menuIcon {
  color: @color-green;
  span {
    display: flex;
    align-items: center;
  }
  svg {
    font-size: 1.3em;
  }
}

.sideMenu {
  :global {
    .ant-drawer-title {
      font-weight: bold;
      color: @color-green;
    }
    .ant-drawer-body {
      padding: 0;
    }
  }
}
