.desktopBg {
  background: #fa9b1c;
}

.portableBg {
  background-color: #61ce9a;
}

.vapeCol {
  h2 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.2em;
  }

  img {
    transition: transform 0.5s ease;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.03);
    }
  }
}
