.article h1 {
  width: 80%;
}

.tocCol {
  @media @laptop-down {
    max-width: 100%;
    flex: 0 0 100%;
    width: 100%;
    margin: 10px 0 50px 0;
  }
}

.contentCol {
  @media @laptop-down {
    max-width: 100%;
    flex: 0 0 100%;
    width: 100%;
  }
}

.postInfo {
  display: flex;
  padding: 0 5px;
  flex-direction: row;
  @media @tablet-down {
    flex-direction: column;
  }
}

.author {
  text-transform: uppercase;
  font-size: 0.7em;
}

:global(.bui .article-body) {
  .disclaimer {
    margin: 3em auto;
    color: #fff;
    padding: 2em;
    background-color: @color-green;
    font-size: 0.8em;

    h2 {
      font-size: 1.2em;
      margin: 0 0 0.5em 0;
      color: #fff;
    }
  }
}
