.footer {
  padding: 30px;
  background-color: #545856;
  overflow: hidden;
  color: #fff;

  h5 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
  }

  ul {
    font-size: 0.8em;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 15px 0 0;
    li {
      margin: 0.8em 0;
    }

    a {
      color: #fff;
    }
  }

  .copy {
    font-family: 'Merriweather', sans-serif;
  }
}
