.search {
  display: flex;
  align-items: center;
  height: 72px;
  flex-direction: row-reverse;

  @media @tablet-down {
    padding: 5px 15px 0 0;
  }
  button {
    svg {
      font-size: 18px;
    }
  }
}
