// @primary-color: #2d8989;
@primary-color: #2d8989;
@layout-header-height: 51px;
@layout-header-padding: 0px 0px;
@layout-header-background: #f8f8f8;
@layout-body-background: #ffffff;
@layout-footer-padding: 0px;
@border-radius-base: 2px;
@collapse-content-bg: #ffffff;
@color-text: #082726;
@color-black: #122145;
@color-green: #288080;
@color-dark-green: #456d6d;
@color-grey-1: #686868;
@color-grey-2: #555;
@color-red: #ff4c3b;
@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@laptop-down: ~'(max-width: 860px)';
@tablet-down: ~'(max-width: 767px)';
@tablet-portrait-down: ~'(max-width: 650px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';
