:global {
  body.bui {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
  }

  /* bugherd ui styles */
  .bui {
    a:visited,
    a:hover,
    a:active,
    a:focus {
      text-decoration: none;
    }

    img {
      border: 0;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }

    .ml-30 {
      margin-left: 30px;
    }
    .float-right {
      float: right;
    }

    .heading-h1 {
      font-size: 52px;
      margin-top: 0;
      margin-bottom: 1.6rem;
      font-family: 'Merriweather', sans-serif;
      font-weight: 800;
      color: @color-black;
      line-height: 1.2;
      letter-spacing: -0.02em;

      @media @phone-down {
        width: 100%;
        font-size: 45px;
      }
    }

    .heading-category {
      border-bottom: 2px solid @color-green;
      margin-bottom: 40px;
      color: @color-green;
    }

    .article-wrapper {
      margin: 50px 0;
    }

    .article-body {
      font-size: 19px;
      font-family: 'Nunito', sans-serif;
      color: @color-text;
      line-height: 1.7em;

      @media @tablet-down {
        padding: 0 25px;
      }

      h2,
      h3 {
        font-family: 'Merriweather', sans-serif;
        font-weight: 600;
        clear: both;
      }

      h2 {
        font-size: 1.5em;
        margin: 45px 0 25px 0;

        a {
          text-decoration: none;
        }
      }

      figure {
        margin: 0 160px 30px;
        display: flex;
        flex-direction: column;
        .copyright {
          text-align: right;
          width: 100%;
          font-size: 0.7em;
          color: #666666;
          padding-right: 5px;
        }
      }

      .feature-left {
        float: left;
        margin-right: 30px;
        margin-left: 0;
      }

      .feature-right {
        float: right;
        margin-right: 0;
        margin-left: 30px;
      }

      .feature-full {
        margin: 5px auto 30px auto;
        overflow: hidden;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        picture {
          width: 100%;
        }

        img {
          object-position: center;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }

        &.feature-main {
          max-height: 30vh;
          display: flex;
          flex-direction: column;
        }

        &.fixedHeight {
          max-height: inherit;
        }

        &.disableSrcSet img {
          height: auto;
          width: auto;
        }
      }

      .feature-left,
      .feature-right {
        max-width: 350px;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 15px;

        @media @tablet-down {
          float: none;
          display: block;
          margin: 30px auto;
        }
      }

      blockquote {
        text-align: center;
        background: @color-green;
        font-weight: 700;
        color: #fff;
        font-size: 1.6em;
        max-width: 550px;
        margin: 0 5px;
        padding: 50px 30px;
        line-height: 1.3em;
      }

      code {
        font-size: 0.6em;
        vertical-align: super;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: 'Merriweather', sans-serif;
    }

    .article-feed {
      margin-bottom: 25px;
      position: relative;

      .article-feed-cta {
        position: absolute;
        top: 15px;
        right: 1px;
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;

        @media @tablet-down {
          position: static;
          margin-left: 2px;
        }

        a {
          color: @color-grey-2;
          padding: 3px 1px;
          &:hover {
            color: @color-red;
          }
        }
      }
    }

    .pageBanner {
      display: flex;
      height: 54vh;
      min-height: 380px;
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: @color-green;

      &.landingBanner {
        width: 100%;
        @media @tablet-down {
          margin: 0px 0 50px 0;
        }
      }

      @media @desktop-down {
        margin: 10px 0px;
        height: auto;
      }

      @media @tablet-down {
        margin: 10px 0;
        flex-direction: column;
        height: auto;
      }

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;

        @media @tablet-down {
          flex-basis: 100%;
        }

        img {
          object-position: center;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .bannerImage {
        flex-basis: 55%;
        overflow: hidden;
        @media @tablet-down {
          max-height: 300px;
          flex-basis: 100%;
        }
      }

      .bannerWrapper {
        margin: 0 0 0 -100px;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: @color-green;
        flex-basis: 65%;

        @media @tablet-down {
          -webkit-transform: skewY(-3deg);
          -moz-transform: skewY(-3deg);
          -o-transform: skewY(-3deg);
          transform: skewY(-3deg);

          margin: -20px 0 0 0;
        }
      }

      .bannerText {
        display: flex;
        flex-direction: column;
        align-items: start;
        align-content: start;
        padding: 30px 60px;
        font-size: 1.1em;
        color: #fff;
        max-width: 600px;

        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg);

        h1 {
          font-weight: 700;
          color: #fff;
        }

        @media @tablet-down {
          flex-basis: 100%;
          max-width: 100%;
          -webkit-transform: skewY(3deg);
          -moz-transform: skewY(3deg);
          -o-transform: skewY(3deg);
          transform: skewY(3deg);
        }
      }
    }

    .contact-form {
      min-height: 350px;
      padding: 0 50px;
      .ant-form-item {
        margin-bottom: 15px;
      }

      .validation {
        color: #ff4d4f;
      }
    }

    .bui-content {
      & > div > p:first-of-type::first-letter,
      & > p:first-of-type::first-letter {
        font-family: 'Merriweather', sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 1;
        float: left;
        padding-right: 10px;
        padding-left: 2px;
        text-transform: uppercase;
      }

      p {
        font-size: 19.3px;
        line-height: 1.7em;
        word-break: break-word;
        @media @phone-down {
          font-size: 18.5px;
        }
      }
      p,
      ul,
      ol,
      h2,
      h3,
      h4 {
        margin-left: 20px;
        margin-right: 50px;
        @media @tablet-down {
          margin-left: 0;
          margin-right: 0;
        }
      }

      h2,
      h3,
      h4 {
        color: @color-green;
        margin-top: 1.8em;
        margin-bottom: 0.8em;
      }

      h3 b {
        color: @color-black;
      }

      a {
        text-decoration: underline;
      }

      h3 {
        margin-top: 1.2em;
        margin-bottom: 0.5em;
      }

      ul {
        list-style: none;
        li {
          position: relative;
          padding-left: 22px;
          &:before {
            content: ' ';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 14px;
            border-radius: 50%;
            background: @color-green;
            pointer-events: none;
          }
          p {
            margin: 0;
          }
        }
      }

      ol {
        margin: 0;
      }

      .citationList {
        margin-top: 3em;
        border-top: 1px dashed @color-green;

        li,
        p {
          font-size: 0.9em;
        }

        p {
          margin: 0.2em 0;
        }

        h2 {
          margin-top: 1em;
        }
      }
    }

    .intro-content {
      width: 100%;

      & > div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      p {
        width: 100%;
        max-width: 726px;
        text-align: center;
      }
    }

    a.action-button {
      background-color: @color-green;
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.8em;
      box-shadow: -5px 5x 2px 0px rgba(191, 191, 191, 0.75);
      -webkit-box-shadow: -5px 5px 2px 0px rgba(191, 191, 191, 0.75);
      -moz-box-shadow: -5px 5px 2px 0px rgba(191, 191, 191, 0.75);
    }

    .bui-content .action-wrapper {
      margin-top: 40px;
      margin-bottom: 70px;
      text-align: center;
    }

    .bui-text-center {
      text-align: center;
    }

    .bui-text-right {
      text-align: right;
    }

    .bui-base-font {
      font-size: 1em;
    }

    .bui-large-font {
      font-size: 1.5em;
    }

    .bui-font-700 {
      font-weight: 700;
    }

    .bui-flex {
      display: flex;
    }

    .bui-flex-col {
      flex-direction: column;
    }

    .bui-flex-row {
      flex-direction: row;
    }

    .bui-flex-row-reverse {
      flex-direction: row-reverse;
    }

    .bui-flex-right {
      margin-left: auto;
    }

    .bui-align-start {
      align-items: start;
      align-content: start;
    }

    .bui-align-center {
      align-items: center;
      align-content: center;
    }

    .bui-justify-center {
      justify-content: center;
    }

    .bui-flex-row-reverse {
      flex-direction: row-reverse;
    }

    .bui-padding {
      padding: 10px;
    }

    .bui-padding-small {
      padding: 5px;
    }

    .bui-padding-horizontal-small {
      padding: 0 5px;
    }

    .bui-padding-horizontal-xsmall {
      padding: 0 2px;
    }

    .bui-padding-horizontal-large {
      padding: 0 20px;
    }

    .bui-padding-large {
      padding: 20px;
    }

    .bui-padding-xlarge {
      padding: 30px;
    }

    .bui-padding-top {
      padding-top: 10px;
    }

    .bui-padding-right-large {
      padding-right: 20px;
    }

    .bui-padding-left-large {
      padding-left: 20px;
    }

    .bui-margin-right {
      margin-right: 10px;
    }

    .bui-margin-left {
      margin-left: 10px;
    }

    .bui-padding-top-xxxlarge {
      padding-top: 55px;
    }

    .bui-margin-top-large {
      margin-top: 20px;
    }

    .bui-margin-top-xxlarge {
      margin-top: 40px;
    }

    .bui-margin-bottom {
      margin-bottom: 10px;
    }

    .bui-margin-bottom-large {
      margin-bottom: 20px;
    }

    .bui-margin-bottom-xlarge {
      margin-bottom: 25px;
    }

    .bui-margin-bottom-xxxlarge {
      margin-bottom: 60px;
    }

    .bui-color-green {
      color: @color-green;
    }

    .bui-italic {
      font-style: italic;
    }

    .bui-hidden {
      display: none;
    }

    .bui-v-hidden {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap; /* added line */
    }

    .bui-position-relative {
      position: relative;
    }

    .bui-text-uppercase {
      text-transform: uppercase;
    }

    /* ant design overwrites */
    :global {
      .ant-select-item-option-content,
      .ant-form-item-label > label {
        font-size: 1.2em;
      }
    }
  }

  .toc-position-fixed {
    position: fixed;
    top: 20px;
    z-index: 3;

    @media @laptop-down {
      position: static;
    }
  }

  .article-toc {
    width: 300px;
    margin-left: 15px;
    overflow-y: auto;
    height: 80%;

    @media @desktop-down {
      width: 260px;
    }

    @media @laptop-down {
      width: auto;
      margin: 0 30px;
      height: 100%;
    }
  }
  .infographic-code {
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 3em;
    p {
      margin: 0;
      font-size: 0.8em;
    }
    textarea {
      font-size: 0.8em;
      width: 100%;
    }
  }

  .podium-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 30px 0 60px 0;
    flex-grow: 1;

    @media @desktop-down {
      flex-direction: column;
    }

    .podium-12 {
      display: flex;
      width: 75%;
      flex-direction: row-reverse;
      flex-grow: 1;
    }

    .podium {
      text-align: center;
      margin-left: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background: #f4f4f4;
    }

    .podium-header {
      text-align: left;
      padding: 5px 25px;
      background-color: #666666;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      height: 58px;
      display: flex;
      align-items: center;
      border-bottom: 7px solid #e5e5e5;
      font-family: 'Merriweather', sans-serif;

      .rating {
        margin-left: auto;
        display: flex;
        justify-content: center;

        svg {
          margin-left: 3px;
        }
      }
    }

    .podium-image {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media @desktop-down {
        padding-top: 25px;
      }
    }

    .podium-right {
      width: 20%;
      margin-top: 10px;

      .podium-header {
        background-color: #5a8a84;
      }
    }

    .podium-left {
      width: 35%;
      margin-top: 10px;
      margin-left: 0;

      .podium-header {
        background-color: #357a7a;
      }
    }

    .podium-main {
      width: 65%;
      min-height: 300px;

      .podium-header {
        background-color: #009d89;
        height: 65px;
      }
      .podium-image {
        padding-left: 20px;
      }
    }

    .podium-content {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      h2 {
        margin: 0 0 15px 0;
      }

      .action-button {
        width: 120px;
      }
    }

    .podium-side.podium-content {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding-bottom: 35px;

      h2 {
        margin: 20px 0 0 0;
      }

      .podium-image {
        padding: 20px 10px;
        width: 100%;

        a {
          display: flex;
        }
        img {
          max-width: 100%;
          max-height: 250px;
          object-fit: contain;
          @media @desktop-down {
            max-height: 100%;
          }
        }
      }
    }

    .podium-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px 30px 15px;
      width: 60%;
    }

    @media @desktop-down {
      .podium-content h2 {
        margin-top: 25px;
      }

      .podium-content,
      .podium-12 {
        flex-direction: column;
      }

      .podium-text,
      .podium-image {
        width: 100%;
      }

      .podium-left,
      .podium-right,
      .podium-main,
      .podium-12 {
        width: 100%;
        margin: 0 0 20px 0;
      }
    }
  }

  .review-header {
    display: flex;
    width: 100%;
    margin-bottom: 35px;

    .review-header-image {
      width: 50%;

      img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
      }
    }

    h2.review-header-title {
      margin: 0;
      background-color: @color-green;
      padding: 15px 25px;
      font-family: 'Merriweather', sans-serif;
      color: #fff;
      text-align: center;
    }

    .review-header-content {
      width: 50%;
      background-color: #f4f4f4;
      border-left: 7px solid #e5e5e5;
    }

    .review-header-card {
      padding: 25px;

      .card-row {
        margin-bottom: 20px;
        display: flex;
        font-size: 0.9em;

        span {
          display: block;
          font-weight: 600;
          width: 45%;
          text-align: right;
          padding-right: 15px;
        }

        .card-row-content {
          display: flex;
          flex-direction: row;
        }

        .card-row-icons {
          display: flex;
          align-items: center;
        }
      }
    }

    @media @desktop-down {
      & {
        flex-direction: column;
      }
      .review-header-content,
      .review-header-image {
        width: 100%;
      }

      .review-header-content {
        border: none;
      }
    }

    &.small-format .review-header-card .card-row span {
      width: auto;
      text-align: left;
    }
  }
}
