.marker {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -115px;

  border-radius: 50% 50% 50% 0;
  border: 4px solid @color-green;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);

  &::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    background-color: @color-green;
  }
}
