.header {
  display: flex;
  position: relative;
  min-height: 41px;

  .cardAvatar {
    position: absolute;
    width: 35px;
    top: 3px;
    left: 3px;
    font-family: 'Merriweather', sans-serif;
  }

  h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding: 3px 10px 3px 50px;
    margin: 0;
    color: @color-grey-2;
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
}

.listItem {
  border: thin solid #f1f1f1;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  h3 {
    margin: 0;
  }
}

.listRow {
  @media @tablet-down {
    justify-content: center;
  }
}

.radarWrapper {
  width: 100%;
  :global(.chartjs-size-monitor) {
    width: 100%;
  }
  margin-top: -5px;
  padding: 0 10px 10px 10px;
}

.isInfo {
  display: flex;
  padding: 0 15px;
  color: #757575;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13.33px;
  span {
    font-weight: 700;
  }
}
