.postWrapper {
  margin: 85px 0;
}

.header {
  display: flex;
  width: 100%;
  padding-bottom: 30px;

  @media @tablet-down {
    flex-direction: column;
  }

  h1 {
    margin-right: 0;
  }

  .info {
    width: 60%;

    @media @tablet-down {
      width: 100%;
    }

    h2 {
      font-size: 1.1em;
      margin: 20px 0 0 0;
    }
  }

  .radar {
    width: 40%;
    margin-top: 30px;
    padding-left: 10px;

    @media @tablet-down {
      width: 100%;
    }
  }

  .bar {
    max-height: 250px;
  }

  .cbPotencyWrapper {
    margin-top: 35px;
    padding-right: 20px;
    display: flex;
    .cb {
      padding-right: 50px;
      width: 50%;
    }

    .cbInfo {
      display: flex;
      align-items: center;

      @media @tablet-down {
        flex-direction: column;
      }

      h2 {
        margin: 0;
      }

      span {
        font-size: 0.85em;
      }
    }

    .cbPotencyText {
      display: flex;
      margin-left: auto;
      div {
        padding-left: 8px;
        font-size: 0.9em;
      }

      @media @desktop-down {
        flex-direction: column;
        text-align: right;

        span {
          display: none;
        }
      }

      @media @tablet-down {
        text-align: center;
        margin: 0;
      }
    }

    .cbPotency {
      height: 5px;
      background-color: #eee;
    }
  }

  .stimulate {
    margin-top: 35px;
    padding-right: 68px;
    font-size: 0.85em;

    .stimulateScore {
      height: 8px;
      background-color: #eee;
      position: relative;
    }

    .stimulateMarker {
      height: 8px;
      width: 30px;
      background-color: #957dad;
      position: absolute;
      left: var(--percent);
      transform: translateX(calc(-1 * var(--percent)));
      display: block;
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: row-reverse;

  @media @tablet-down {
    flex-direction: column;
  }

  .content {
    flex-basis: 60%;
    padding-right: 25px;
  }

  .infoCard {
    padding-left: 20px;
    flex-basis: 40%;

    @media @tablet-down {
      padding-left: 0;
    }

    h2 {
      margin: 0;
      font-size: 1em;
    }

    .card {
      margin-bottom: 20px;
      span {
        color: #555;
      }

      .flavour {
        span {
          color: #fff;
        }
      }
    }
  }

  .cardList {
    .cardName {
      font-size: 1.1em;
    }

    .cardAvatar {
      margin-right: 10px;
      min-width: 32px;
    }

    h3 {
      font-size: 0.9em;
      margin: 0;
    }
  }
}
